header{
  width:80%;
  margin-left:10%;
  height:175px;
  position:fixed;
  z-index:100;
  background-color:#fff;
  overflow:hidden;

  .burger{
    display:none;
  }

  .iconscontainer{
    position:relative;
    left:84%;
    top:20px;

    .icons{
      height:30px;
    }
  }

  .headernav{
    text-align:center;
    position:relative;
    bottom:38px;

    .mybooks{
      @include hover;
    }

    li{
      @include lists;

      a{
        @include links;
      }
      a:hover{
        @include hover;
      }
    }

    .logo{
      height:150px;
      position:relative;
      top:13px;
    }

    // dropdown menu
    .dropdownmy{
      display:none;
      position:absolute;
      top:28px;

      li{
        display:block;
        background-color:white;
        padding:5%;
      }
    }
  }
}




@media(min-width:768px) and (max-width:1024px){
  header{
    width:100%;
    margin:0;

    .profileicons{
      position:relative;
      left:84%;
      top:20px;
    }

    .icons{
      height:30px;
    }

    .headernav{
      text-align:center;
      position:relative;
      bottom:0;

      li{
        @include lists;

        a{
          @include links;
          font-size:16px;
        }

        .logo{
          height:110px;
          position:relative;
          top:13px;
        }

        .mybooks{
          @include hover;
        }

        a:hover{
          @include hover;
        }
      }
    }
  }
}


@media(max-width:767px){

header{
  width:100%;
  height:130px;
  margin-left:0;

  .burger{
    display:inline;
    position:relative;
    left:225px;
    top:130px;

    img{
      height:20px;
    }
  }

  .icons{
    display:none;
  }

  .headernav{
    text-align:center;
    position:relative;
    bottom:0;

    li{
      position:relative;
      top:75px;
      .mobilestay{

      }
    }

      .logo-li{
        position:relative;
        top:-70px;
        display:block;
        margin:0 auto;

        .logo{
          height:80px;
        }
      }

      a{
        font-size:16px;
      }

      .mobilegone{
        display:none;
      }
    }
  }
}
