header{
  width:80%;
  margin-left:10%;
  height:175px;
  position:fixed;
  z-index:100;
  background-color:#fff;
  overflow:hidden;

  .burger{
    display:none;
  }
  .profileicons{
    position:relative;
    float:right;
    bottom:220px;
    left:-2.5rem;
    height:200px;
    width:200px;

// logo
    img{
      height:100%;
      width:100%;
      object-fit:contain;
    }
  }

  .navleft{
    float:left;
    margin-left:3%;

    li{
      @include lists;
      a{
        @include links;
      }
      .mybooks{
        @include hover;
      }
      a:hover{
        @include hover;
      }
    }
  }

  img{
    width:500px;
    float:left;
    position:absolute;
    left:25.7%;
    right:25%;
    bottom:-136px;
  }

  .navright{
    float:right;
    margin-right:-16%;


    li{
      @include lists;
      a{
        @include links;
      }
      a:hover{
        @include hover;
      }
    }
  }
}

// main section
main{
  clear:both;
  overflow:hidden;
  background:
  linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
  url("../images/books2.jpeg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  position:relative;
  top:175px;
  margin:0 10%;
  border-bottom:1px solid white;

  section{
    width:40%;
    display:inline-block;
    padding-left:5rem;
    padding-bottom:20px;
    padding-top:20px;

    article{
      float:left;
      margin-right:10%;

// book cover image
      .covercon{
        height:17rem;
        width:12rem;

      img{
        height:100%;
        width:100%;
        object-fit:contain;
        object-position:center;
      }
    }

// title
      h3{
        text-align:center;
        color:white;
        font-size:18px;
      }

// bookmark and rate links
      p{
        text-align:center;
        color:white;
        a{
          color:white;
          text-decoration:none;
        }
        a:hover{
          color:$gold;
        }
      }
    }

    aside{
      float:left;
      @include verticalalign;
      color:white;
      font-size:14px;
    }
  }
}

footer{
  clear:both;
  height:100px;
  background-color:#fff;
  ul{
    text-align:center;
    @include verticalalign;
    padding:0;
    li{
      display:inline;
      list-style-type:none;
      padding:15px;
      a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
      }
      a:hover{
        color:$gold;
      }
    }
  }
}
