body {
  margin: 0;
  background-image: url("../images/books2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

header {
  width: 80%;
  margin-left: 10%;
  height: 175px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  overflow: hidden; }
  header .burger {
    display: none; }
  header .profileicons {
    position: relative;
    float: right;
    bottom: 220px;
    left: -2.5rem;
    height: 200px;
    width: 200px; }
    header .profileicons img {
      height: 100%;
      width: 100%;
      object-fit: contain; }
  header .navleft {
    float: left;
    margin-left: 3%; }
    header .navleft li {
      padding: 10px;
      display: inline;
      position: relative;
      top: 127px; }
      header .navleft li a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 20px; }
      header .navleft li .mybooks {
        border-top: 3px solid black;
        border-radius: 100%;
        color: #F5D032;
        padding-top: 12px; }
      header .navleft li a:hover {
        border-top: 3px solid black;
        border-radius: 100%;
        color: #F5D032;
        padding-top: 12px; }
  header img {
    width: 500px;
    float: left;
    position: absolute;
    left: 25.7%;
    right: 25%;
    bottom: -136px; }
  header .navright {
    float: right;
    margin-right: -16%; }
    header .navright li {
      padding: 10px;
      display: inline;
      position: relative;
      top: 127px; }
      header .navright li a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-size: 20px; }
      header .navright li a:hover {
        border-top: 3px solid black;
        border-radius: 100%;
        color: #F5D032;
        padding-top: 12px; }

main {
  clear: both;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/books2.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  top: 175px;
  margin: 0 10%;
  border-bottom: 1px solid white; }
  main section {
    width: 40%;
    display: inline-block;
    padding-left: 5rem;
    padding-bottom: 20px;
    padding-top: 20px; }
    main section article {
      float: left;
      margin-right: 10%; }
      main section article .covercon {
        height: 17rem;
        width: 12rem; }
        main section article .covercon img {
          height: 100%;
          width: 100%;
          object-fit: contain;
          object-position: center; }
      main section article h3 {
        text-align: center;
        color: white;
        font-size: 18px; }
      main section article p {
        text-align: center;
        color: white; }
        main section article p a {
          color: white;
          text-decoration: none; }
        main section article p a:hover {
          color: #F5D032; }
    main section aside {
      float: left;
      position: relative;
      top: 30%;
      transform: translateY(30%);
      color: white;
      font-size: 14px; }

footer {
  clear: both;
  height: 100px;
  background-color: #fff; }
  footer ul {
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(30%);
    padding: 0; }
    footer ul li {
      display: inline;
      list-style-type: none;
      padding: 15px; }
      footer ul li a {
        text-decoration: none;
        color: black;
        text-transform: uppercase; }
      footer ul li a:hover {
        color: #F5D032; }

@media (min-width: 768px) and (max-width: 1024px) {
  header .navleft {
    margin-left: 9%;
    margin-top: 13px; }
  header img {
    width: 450px;
    float: left;
    position: absolute;
    left: 15.4%;
    right: 25%;
    bottom: -91px; }
  header .navright {
    float: right;
    margin-right: -23%;
    margin-top: 13px; }

  section {
    max-width: 26%;
    display: inline-block;
    padding-left: 5rem;
    padding-bottom: 20px;
    padding-top: 20px; }
    section aside {
      text-align: center;
      position: relative;
      bottom: 45px;
      left: 15px;
      color: white;
      font-size: 14px; } }
@media (max-width: 767px) {
  header {
    width: 100%;
    height: 130px;
    margin-left: 0; }
    header .burger {
      display: inline;
      position: relative;
      left: 225px;
      top: 130px; }
    header img {
      margin-left: 10%; }
    header .profileicons {
      display: none; }
    header .navleft {
      margin-left: 20%;
      position: relative;
      bottom: 25px; }
    header img {
      width: 300px;
      float: left;
      position: absolute;
      left: 4%;
      right: 25%;
      bottom: -47px; }
    header .navright {
      display: none; }

  main {
    border: none;
    margin: 0;
    position: relative;
    top: 120px; }
    main section {
      width: 100%;
      display: block;
      padding-bottom: 20px;
      padding-top: 20px; }
      main section article {
        width: 95%; }
        main section article h3 {
          margin-right: 40%;
          font-size: 30px; }
        main section article p {
          margin-right: 40%;
          border-bottom: 1px solid white;
          padding-bottom: 70px;
          font-size: 30px; }
        main section article .covercon {
          height: 70%;
          width: 70%;
          position: relative;
          right: 5%; }
          main section article .covercon img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: center; }
      main section aside {
        display: none; } }

/*# sourceMappingURL=style.css.map */
