
$lightgold:#FFF699;


@mixin links{
  text-decoration:none;
  text-transform:uppercase;
  color:black;
  font-size:20px;
}

@mixin lists{
  padding:10px;
  display:inline-block;
  margin-top:115px;
}

@mixin verticalalign{
  position: relative;
  top: 40%;
  transform: translateY(+40%);
}


body{
  margin:0;
  background:
  linear-gradient(
        rgba(255, 246, 153, 0.2),
        rgba(255, 246, 153, 0.2)
      ),
  url("../images/grey_wash_wall.png");
  background-position:center;
  background-attachment:fixed;
}


header{
  width:80%;
  margin-left:10%;
  height:175px;
  position:fixed;
  z-index:100;
  background-color:#fff;
  overflow:hidden;


  .navleft{
    float:left;
    margin-left:8%;

    li{
      @include lists;
      a{
        @include links;
      }
      .mybooks{
        border:2px solid black;
        background-color:$lightgold;
        padding:1px;
      }
      a:hover{
        border:2px solid black;
        background-color:$lightgold;
        padding:1px;
      }
    }
  }
  img{
    width:500px;
    float:left;
    position:absolute;
    left:24.3%;
    right:25%;
    bottom:-136px;
  }
  .navright{
    float:right;
    margin-right:8%;

    li{
      @include lists;
      a{
        @include links;
      }
      a:hover{
        border:2px solid black;
        background-color:$lightgold;
        padding:1px;
      }
    }
  }
}

// main
main{
  clear:both;
  overflow:hidden;
  background:
  linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
  url("../images/books2.jpeg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  position:relative;
  top:175px;
  margin:0 10%;

  section{
    width:46%;
    display:inline-block;
    padding-left:37px;

    article{
      float:left;
      margin-right:10%;
       img{
         border:4px solid black;
       }
    }

    aside{
      float:left;
      @include verticalalign;
      color:white;
    }
    h3{
      text-align:center;
      color:white;
      // border-top:1px solid black;
      // border-bottom:1px solid black;
    }
  }
}

footer{
  clear:both;
  height:100px;
  background-color:$lightgold;
  ul{
    text-align:center;
    @include verticalalign;
    padding:0;
    li{
      display:inline;
      text-decoration:none;
      list-style-type:none;
      padding:15px;
    }
  }
}
