
$gold:#F5D032;

@mixin lists{
  padding:10px;
  display:inline-block;
  margin-top:115px;
}

@mixin links{
  text-decoration:none;
  text-transform:uppercase;
  color:black;
  font-size:20px;
}

@mixin hover{
  border-top:3px solid black;
  border-radius:100%;
  color:$gold;
  // background-color:$gold;
  padding-top:12px;
}

@mixin verticalalign{
  position: relative;
  top: 30%;
  transform: translateY(+30%);
}


body{
  margin:0;
  background-image:url("../images/books2.jpeg");
  background-size:cover;
  // background:
  // linear-gradient(
  //       rgba(255, 246, 153, 0.7),
  //       rgba(255, 246, 153, 0.7)
  //     ),
  // url("../images/grey_wash_wall.png");
  background-position:center;
  background-attachment:fixed;
}


header{
  width:80%;
  margin-left:10%;
  height:175px;
  position:fixed;
  z-index:100;
  background-color:#fff;
  overflow:hidden;



  .navleft{
    clear:both;
    float:left;
    margin-left:3%;

    li{
      @include lists;
      a{
        @include links;
      }
      .mybooks{
        @include hover;
      }
      a:hover{
        @include hover;
      }
    }
  }
  img{
    width:500px;
    float:left;
    position:absolute;
    left:24.3%;
    right:25%;
    bottom:-136px;
  }
  // .profileicons{
  //   height:100px;
  //   width:100px;
  // }

  .navright{
    float:right;
    margin-right:6%;

    li{
      @include lists;
      a{
        @include links;
      }
      a:hover{
        @include hover;
      }
    }
  }
}


main{
  clear:both;
  overflow:hidden;
  background:
  linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
  url("../images/books2.jpeg");
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  position:relative;
  top:175px;
  margin:0 10%;
  border-bottom:1px solid white;

  section{
    width:40%;
    display:inline-block;
    padding-left:5rem;
    padding-bottom:20px;
    padding-top:20px;

    article{
      float:left;
      margin-right:10%;

        .covercon{
          height:17rem;
          width:12rem;
          // border:4px solid white;

          img{
            height:100%;
            width:100%;
            object-fit:contain;
            object-position:center;
          }
        }

        h3{
          text-align:center;
          color:white;
          font-size:18px;
        }

        p{
          text-align:center;
          color:white;
          a{
            color:white;
            text-decoration:none;
          }
          a:hover{
            color:$gold;
          }
        }
      }

    aside{
      float:left;
      @include verticalalign;
      color:white;
      font-size:14px;
    }
  }
}
footer{
  clear:both;
  height:100px;
  background-color:#fff;
  ul{
    text-align:center;
    @include verticalalign;
    padding:0;
    li{
      display:inline;
      list-style-type:none;
      padding:15px;
      a{
        text-decoration:none;
        color:black;
        text-transform:uppercase;
      }
      a:hover{
        color:$gold;
      }
    }
  }
}
